@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  max-width: 100%;
  font-family: $fontFamily;
  background-color: $neutralMagnolia;
}

main {
  width: 1000px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  margin: 100px auto;
  background-color: $neutralWhite;
  border-radius: 15px;
  padding: 15px;
}
